* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input {
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
}

input[type="text"] {
  height: 40px;
  width: 200px;
  background: rgb(175, 165, 165);
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  margin-top: 20px;
  padding: 10px 10px;
}

input[type="submit"] {
  height: 40px;
  width: 100px;
  background: rgb(175, 165, 165);
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 2px;
}

.display {
  text-align: center;
}